
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Luckiest+Guy&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
*{
    font-family: "Pixelify Sans", sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}
button{
    color: white;
}
.main{
     border-bottom: solid 2px white;
     text-align: center;
     padding-top: 15px;
       position: relative;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 100px 50px;
    
    
}
input{
    width: 100px;
    height: 30px;
    border: solid 2px white;
    background-color: black;
    margin: 30px 80px;
    color: white;
    text-align: center;
    font-size: 20px;
    
    
}


.icon{
    display: flex;
    justify-content: left;
    align-items: center; 
    
}

.icon img{
    width: 30px;
    height: 30px;
   
}
.again, .check{
    border: solid 2px black;
    cursor: pointer;
    background-color: white;
    color: black;
    width: 70px;
    height: 30px;
    text-align: center;
   margin-top: 10px;
  
   
    
}
.check-container{
display: flex;
flex-direction: column;
align-items: center;

}
.symbol{
    
    background-color: white;
   color: black;
    border: none;
     width: 30px;
    height: 30px;
    position: absolute;
    font-size: 20px;
    left: 650px;
    top: 80px;  
}



